.custom-button {
  width: 200px;
  padding: 10px 15px;
  background: linear-gradient(90deg, #73e0a9 0%, #5b68df 100%);
  border-radius: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
}
